html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#canvas{
    position: absolute;
    top:0;
    right: 0;
    width: 10%;
    height: 10%;
}